body {
    font-family: 'Open Sans', sans-serif;
    background: #3498db;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    background: #2ecc71;
    width: 125px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 20px;
    margin-right: 20px;
}

.logout:hover {
    background: #2CC06B;
}

#Welcome {
    color: #c5ffe1;
}

#options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "newPost feed yourPosts friends";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#newPost {
    grid-area: newPost;
}

#feed {
    grid-area: feed;
}

#friends {
    grid-area: friends;
}

#yourPosts {
    grid-area: yourPosts;
}

.blue {
    background: #6941fc;
    border: #072764 1px solid;
}

.blue:hover {
    background: #603ca5;
}

.green {
    background: #2ecc71;
    border: #1f8517 1px solid;
}

.green:hover {
    background: #2CC06B;
}

.btn {
    width: 270px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 1.5em;
    text-decoration: none;
}

.clear {
    clear: both;
}

/* ---------POPUPS--------- */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-overlay {
    position: relative;
    border-radius: 0.6em;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 1em;
    border: 1px solid #888;
    width: 95%;
    /* height: 90%;
    overflow: scroll; */
    padding-bottom: 2em;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headersInPopups {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    color: #0525c7;
    text-decoration: none;
}

.postInputField {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 3px solid;
    padding: 8px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.postLabel {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #2c1d14;
    font-weight: bold;
    margin: 0;
}

/* -------- New post handling --------- */

#newPostTitleWord {
    text-align: left;
    margin-left: 25px;
}

#newPostTitle {
    margin-left: 20px;
    margin-bottom: 8px;
    width: 40%;
    display: block;
}

#newPostSubmit {
    margin-top: 20px;
}

#newPostContent {
    margin-left: 0px;
    text-align: left;
    width: 97%;
    font-size: 1.3em;
    height: 400px;
}

/* -------- Show your posts handling --------- */

#postList {
    text-align: left;
    list-style: none;
}

.postsHeaders {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.TitleAndName {
    font-size: 1.3em;
    color: #6030af;
}

.date {
    font-size: 1.05em;
    color: #456dab;
}

.contents {
    margin-top: 8px;
    white-space: pre-line;
    font-size: 0.95em;
    margin-left: 15px;
}

#loadOlder {
    right: 30px;
}

#refresh {
    right: 185px;
}

.buttonReload {
    position: absolute;
    top: 0px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    width: 130px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
}

/* ---------------FRIENDS--------------- */

#friendsGridManager {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "LEFT RIGHT";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#observed {
    grid-area: LEFT;
}

#addNewObserved {
    grid-area: RIGHT;
}

#newObservedName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 60%;
}

/* -------------FRIENDS FEED------------- */

#loadOlderFeed {
    right: 30px;
}

#refreshFeed {
    right: 185px;
}